<section class="mainbar" data-ng-init="vm.toViewDepartment()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Department - {{vm.department.displayName}}
    </div>
    <div class="panel-body">

      <form novalidate>
        Name {{vm.department.name}}

       <employees-directive employees="vm.employees" tableParams="vm.tableParams" ></employees-directive>

      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/department/{{vm.department.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.department">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>
        <a class="btn btn-primary" href="/department">
          <i class="glyphicon glyphicon-list"></i> List Departments
        </a>
      </div>

    </div>
  </div>

</section>
