<section class="mainbar" data-ng-init="vm.toViewSkill()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Skill View
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.skill" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/skill/{{vm.skill.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.skill">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>
        <a class="btn btn-primary" href="/skill">
          <i class="glyphicon glyphicon-list"></i> List Skills
        </a>
      </div>

    </div>
  </div>

</section>
